html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

.button, button, input[type="submit"], .clickable {
  cursor: pointer;
}

.button {
  position: absolute;
  z-index: 1;
}

.previous-level {
  bottom: 0;
  left: 20px;
}

.next-level {
  bottom: 0;
  right: 20px;
}


/* Clearfix */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}



/*.custom {
   cursor: url(../images/spider_icon.png), auto;
}*/

h1 {
  /*display: inline;*/
  text-align: center;
  margin: 0 auto;
}

body {
  position: relative;
}

img.previous-level, img.next-level {
  width: 50px;
}

img.previous-level {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.canvas-div {
  margin: 0 auto;
  position: absolute;
  /*position: relative;*/
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  /*align-self: center;*/
  /*cursor: url(../images/spider_icon.jpg), auto;*/
}

div.vertex {
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  background: lightblue;
  border-radius: 100px;
  margin: 0;
  text-align: center;
  /*color: purple;*/
}

.ui-draggable {
  z-index: 5;
}

div.edge {
  background: green;
  height: 2px;
  position: absolute;
}

#e7 {
  background: red;
}

#v3, #v5 {
  background: orange;
}
