body {
  position: relative;
}

canvas {
  position: absolute;
}

div.planary-root {
  position: absolute;
  width: 800px;
  height: 800px;
  /*margin-top: 50px;*/

}



div.vertex {
  position: absolute;
  display: inline-block;
  height: 25px;
  width: 25px;
  background: lightblue;
  border-radius: 100px;
  margin: 0;
  text-align: center;
  /*color: purple;*/
}

.ui-draggable {
  z-index: 5;
}

div.edge {
  background: green;
  height: 2px;
  position: absolute;
}

#e7 {
  background: red;
}

#v3, #v5 {
  background: orange;
}

/*line {
  stroke: "black";
  stroke-width: 5px;

  background-color: green;
  width: 10px;
  height: 10px;
  content: "";
}*/
