html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background-color: black;
}

h1 {
  font-size: 66px;
}

/*    BUTTONS   ****************************/
.button, button, input[type="submit"], .clickable {
  cursor: pointer;
}

.button {
  position: absolute;
  z-index: 1;
}

.previous-level {
  background-image: url("../images/arrow.png");
  bottom: 0;
  left: 20px;
  height: 100px;
  width: 100px;
  background-size: contain;
  position: absolute;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 2;
}

.next-level {
  background-image: url("../images/arrow.png");
  bottom: 0;
  right: 20px;
  height: 100px;
  width: 100px;
  background-size: contain;
  position: absolute;
  z-index: 2;
}

.previous-level:hover, .next-level:hover {
  background-image: url("../images/arrow-hover.png");
}

a.next-level-modal {
  position: relative;
  display: block;
  margin: 20px auto 8px auto;
  width: 310px;
  text-align: center;
  background: #56600FF;
  font-size: 60px;
  background: #4531B1;
  padding: 15px 31px;
  border-radius: 23px;
}

/* Clearfix */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* Modal Background */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
  position: relative;
  border-radius: 17px;
  background-color: black;
  color: white;
  border: 3px solid #6699ff;
}

.modal-content h2 {
  font-weight: normal;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 50px;
}

.modal-content p {
  margin: 0 0 15px 0;
  line-height: 1.47em;
  font-size: 50px;
}

p.definitions {
  margin-bottom: 0;
  margin-top: 15px;
  font-size: 35px;
}

p.definitions a {
  text-decoration: initial;
  color: #47D6B6;
}

p.definitions a:hover {
  color: #6699ff;
}

.win-modal-content p {
  margin: 8px auto 0 auto;
  font-size: 50px;
  text-align: center;
  color: #2794EB;
}

.results {
  color: #47D6B6;
}

div span {
  color: white;
}

h1 {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
}

.rules .modal-content {
  margin: 15% auto;
  padding: 15px 20px 20px 20px;
  width: 60%;
  text-align: center;
  padding-bottom: 20px;
}

a.play {
  display: block;
  position: relative;
  background-color: #4531B1;
  padding: 16px 24px;
  border-radius: 23px;
  width: 120px;
  margin: 0 auto;
  font-size: 50px;
}

body {
  position: relative;
}

a.show-rules {
  color: white;
  display: block;
  position: relative;
  padding: 6px 12px;
  border-radius: 9px;
  width: 147px;
  margin: 0 auto;
  margin: 15px auto;
  font-size: 40px;
  border: 4px solid white;
  text-align: center;
}

a.button.show-rules:hover {
  color: #47D6B6;
  border-color: #47D6B6;
}

div.github {
  background-image: url("../images/github.png");
  width: 80px;
  height: 80px;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
}


div.github:hover {
  background-image: url("../images/github-hover.png");
}

.canvas-div {
  margin: 0 auto;
  position: absolute;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
}

@media only screen and (min-device-width: 700px) {
  /* DESKTOP*/
  h1 {
    font-size: 2em;
  }

  .previous-level, .next-level {
    height: 50px;
    width: 50px;
  }

  a.next-level-modal {
    font-size: 20px;
    width: 100px;
    padding: 8px 12px;
    border-radius: 10px;
  }

  .modal-content h2 {
    font-size: 1.5em;
  }

  .modal-content p {
    font-size: 20px;
  }

  p.definitions {
    font-size: 15px;
  }

  .win-modal-content p {
    font-size: 24px;
  }

  .rules .modal-content {
    width: 35%;
  }

  a.show-rules {
    font-size: 15px;
    width: 42px;
    border: 2px solid white;
  }

  div.github {
    height: 40px;
    width: 40px;
  }

  a.play {
    width: 35px;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 5px;
  }
}
